#niri
niri/.config/niri/cfg/animation.local.kdl
niri/.config/niri/cfg/display.local.kdl
niri/.config/niri/cfg/input.local.kdl
niri/.config/niri/cfg/keybinds.local.kdl
niri/.config/niri/cfg/layout.local.kdl
niri/.config/niri/cfg/misc.local.kdl
niri/.config/niri/cfg/rules.local.kdl
