input {
    keyboard {
        xkb {
            //layout "us"
        }
        numlock //Numlock on startup
    }

    touchpad {
        tap
        scroll-method "two-finger"
        accel-profile "flat"
        accel-speed 0.0
    }

    mouse {
        accel-profile "flat"
        accel-speed 0.0
    }

    workspace-auto-back-and-forth
    //focus-follows-mouse
}