// Windows
prefer-no-csd

// Screenshots
screenshot-path null

// Debug
debug {
    honor-xdg-activation-with-invalid-serial
}

// Overlay
hotkey-overlay {
    skip-at-startup
}

// Cursor
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}
