layout {

    focus-ring {
        active-color   "#ffb1bf"
        inactive-color "#181213"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb1bf"
        inactive-color "#181213"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb1bf"
        inactive-color "#7d3b4a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb1bf80"
    }
}

recent-windows {
    highlight {
        active-color "#ffb1bf"
        urgent-color "#ffb4ab"
    }
}
